/* Стили CSS для FAB кнопки */
.fab-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
}

.fab-button {
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.fab-button:hover {
    background-color: #0056b3;
}

/* Стили CSS для чата */
.chat-container {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 350px;
    min-height: 300px;
    max-height: 600px;
    background-color: #00000000;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 998;
}

.header {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    font-size: 18px;
}

.close-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c82333;
}

.messages-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.message-form {
    height: auto;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.message-input {
    width: calc(100% - 85px);
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
.message-form {
    height: auto;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: stretch; /* Растягиваем все элементы по вертикали */
}
.send-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Растягиваем кнопку на всю высоту родительского контейнера */
    margin-right: 5px; /* Добавляем отступ справа */
}


.send-button:hover {
    background-color: #0056b3;
}

/* Стили CSS для контейнера сообщений */
.messages-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

/* Стили CSS для каждого сообщения */
.message {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

/* Стили CSS для отправленных сообщений */
.sent-message {
    background-color: #00ffd08d;
    align-self: flex-end;
}

/* Стили CSS для полученных сообщений */
.received-message {
    background-color: #d4d4144e;
    align-self: flex-start;
}

/* Стили CSS для текста сообщений */
.message-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    width: 100%; /* Растягиваем текст на всю доступную ширину */
}

